.navbar{
    display: flex;
    flex-direction: column;
    flex: 0.20;
    height: 100vh;
    background-color: #1d2339;
}
.navbar_top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: #1d2339;
    color: #e7e8eb;
    border-bottom: 3px solid #1a1f33;
}
.navbar_header{
    display: flex;
    padding: 1.25rem;
    align-items: center;
    color: #e7e8eb;
}
