.navbar{
    display: flex;
    flex-direction: column;
    flex: 0.20;
    height: 100vh;
    background-color: #1d2339;
}
.navbar_top-area{
    display: flex;
    align-items: center;
    padding: 1.25rem;
    background-color: #1d2339;
    color: #e7e8eb;
    border-bottom: 3px solid #1a1f33;
}
.navbar_header{
    display: flex;
    padding: 1.25rem;
    align-items: center;
    color: #e7e8eb;
}
.navbar_banner{
    min-width: 100%;
}
.navbar_banner img{
    max-height: 100%;
    max-width: 100%;
}
.search_container{
    display: flex;
    align-items: center;
    color: #35b575;
    border-radius: 3px;
    padding: 3px;
    margin: 10px;
    background-color: #252b41;

}
.search_container > input{
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
    padding-right: 40%;
    overflow: hidden;
}
.search_container > input::placeholder{
    color: #a1a3a8;
}