.online_toparea{
        display: flex;
        flex-direction: column;
        flex: 0.20;
        height: 100vh;
        background-color: #1d2339;
        color: #e7e8eb;
}
.interaction-area{
        display: flex;
        padding: 1.25rem;
        align-items: center;
        border-bottom: 3px solid #1a1f33;
        justify-content: flex-start;
        color: #494e60;
}
.online_user-category{
        display: flex;
        align-items: center;
        padding: 1.25rem;
}
.user-details > p{
        color: #494e60;
}