.serverPanel{
    background-color: #141a31;
    color: #525663;
    padding: 1.25rem;
    display: flex;
}
.server_profile{
    display: flex;
}
.server_profileinfo{
    flex:1;
    padding-left: 10px;
}
.server_profileinfo > h3 {
    color:  #e7e8eb;
}
.server_settings-icons{
    padding: 10px;
    /* align-items: center; */
    margin-left: 20px;
    /* display: flex; */
    /* flex: 1%; */
}